@import "~fontsource-roboto/index.css"; // font installed via npm

$color1:  #0077b5;
$color2:  #000000;
$color3:  #eeeeee;

html {
    height: 100%;
}

body {
    color: #ececec;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: "Roboto";
}

#root {
    height: calc(100vh - 48px);
    background-color: #ececec;
}